azure-core==1.29.4
azure-data-tables==12.4.4
azure-storage-blob==12.18.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==43.0.1
idna==3.4
isodate==0.6.1
multidict==6.0.4
pycparser==2.21
requests==2.31.0
six==1.16.0
typing_extensions==4.8.0
urllib3==2.2.2
yarl==1.9.2
environs==10.0.0
pymongo